<!DOCTYPE html>
<html>
    <head>
  <h1>hi</h1>
        <!-- <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> Welcome to the best News website </title>
        {% endif %} -->
    </head>
    <body>
        <!-- Popular movie section  -->
        <h3> Popular News</h3>
         <ul>
            {% for popular_source in popular %}
                <li>{{ popular_source.name}}</li>
            {% endfor %}
        </ul>
 </body>
</html>